Html, body{
  height:100%;
  margin:0px;
  padding:0px;
}

.container {
  height:100%;
  width: 100%;
  margin: 0 auto;
  padding:0px;
  position: relative;
  background: url("src/assets/img/login-form-background.png");
  background-size: 100% 100%;
  overflow: hidden;
}
.Logo{
  position: absolute;
  left: 15%;
}
.Logo img{
  height: 65.5px;
  width: 292.5px;
border: 0;
}
.grandParentContaniner{
        display:table;
        height:100%;
        margin: 0 auto;
}
.parentContainer{
    display:table-cell;
    vertical-align:middle;
}
.parentContainer .loginForm{
    padding:10px;
    background: #fff;
    border: 1px solid #ddd;
    width:400px;  /*  your login form width */    
    display:table-cell;
    display:table-cell;
    vertical-align:middle;

}