Html, body{
  height:100%;
  margin:0px;
  padding:0px;
}

.container {
  height:100%;
  width: 100%;
  margin: 0 auto;
  padding:0px;
  position: relative;
  background: url("src/assets/img/login-form-background.png");
  background-size: 100% 100%;
  overflow: hidden;
}
.Logo{
  position: absolute;
  left: 15%;
}
.grandParentContaniner{
        display:block;
        height:100%;
        margin: 0 auto;
}
 .loginForm{
  position: absolute;
  left: 55%;
  top: 15%;
  height: 400px;
}

.loginForm h2 {
  font-size: 45px;
  font-family: "Myriad Pro";
  color: rgb(83, 114, 164);
  font-weight: bold;
}
