.name{
  padding: 5px;
  font-size: xx-large;
  max-width: 500px;
  text-align: start;
 }
 .rectangle{
   width: 100px;
   height: 30px;
   justify-content: center;
 }
.mat-list-item{
  margin-top: 5px;
  background-color: white;
}
.mat-list-text{
max-width: 1000px;
}
.partnerList{
  width: 95%;
  margin: auto;
}
