<div class="confirm-dialog">
  <h1 class="confirm-dialog-title">{{data && data.title? data.title: 'Dialog'}}</h1>
  <div style="display: flex; flex-direction: column;">
    <mat-dialog-content class="confirm-dialog-content">
      {{data && data.message? data.message: 'Are you sure to do this?'}}
    </mat-dialog-content>
    <mat-dialog-actions class="confirm-dialog-action">
      <button mat-raised-button [mat-dialog-close]="ACTION_CONFIRM" class="accent">Подтвердить</button>
      <button mat-raised-button [mat-dialog-close]="ACTION_CANCEL" class="primary">Отменить</button>
    </mat-dialog-actions>
  </div>
</div>
