<div class="container">
  <div class="main_container">
    <mat-horizontal-stepper [linear]="true">
      <mat-step [formGroup]="userRegistrationForm">
        <ng-template matStepLabel>Регистрация данных пользователя</ng-template>
        <form [formGroup]="userRegistrationForm">
          <div id="userName">
            <mat-form-field>
              <input matInput type="text" placeholder="Логин" formControlName="userName" />
            </mat-form-field>
            <div *ngIf="userForm.userName.touched" class="error">
              <div *ngIf="userForm.userName.hasError('required')">
                Это поле обязательно
              </div>
              <div *ngIf="userForm.userName.hasError('isTaken')">
                Такой логин уже занят
              </div>
            </div>
          </div>
          <div id="password">
            <mat-form-field>
              <input matInput type="password" placeholder="Пароль" formControlName="password" />
            </mat-form-field>
            <div *ngIf="userForm.password.touched || userForm.password.dirty" class="error">
              <div *ngIf="userForm.password.hasError('required')">
                Это поле обязательно
              </div>
              <div *ngIf=" userForm.password.invalid && !userForm.password.hasError('required')">
                <div [style.color]="userForm.password.hasError('number')?'red':'black'">
                  Пароль должен содержать цифры
                </div>
                <div [style.color]="userForm.password.hasError('capital')?'red':'black'">
                  Пароль должен содержать заглавные буквы
                </div>
                <div [style.color]="userForm.password.hasError('lower')?'red':'black'">
                  Пароль должен содержать строчные буквы
                </div>
                <div [style.color]="userForm.password.hasError('minlength')?'red':'black'">
                  Пароль должен содержать 8 символов
                </div>
              </div>
            </div>
          </div>
          <div id="passwordConfirm">
            <mat-form-field>
              <input matInput type="password" placeholder="Повторите пароль" formControlName="passwordConfirm" />
            </mat-form-field>
            <div *ngIf="userForm.passwordConfirm.touched || userForm.passwordConfirm.dirty" class="error">
              <div *ngIf="userForm.passwordConfirm.hasError('required')">
                Это поле обязательно
              </div>
              <div *ngIf=" userForm.passwordConfirm.invalid && !userForm.passwordConfirm.hasError('required')">
                <div [style.color]="userForm.passwordConfirm.hasError('passwordNotConfirmed')?'red':'black'">
                  Пароль не совпадает
                </div>
              </div>
            </div>
          </div>
          <div id="phoneNumber">
            <mat-form-field>
              <input matInput type="text" placeholder="Номер телефона" formControlName="phoneNumber" />
            </mat-form-field>
          </div>
          <div id="email">
            <mat-form-field>
              <input matInput type="text" placeholder="Email" formControlName="email">
            </mat-form-field>
            <div *ngIf="userForm.email.touched || userForm.email.dirty" class="error">
              <div *ngIf="userForm.email.hasError('required')">
                Это поле обязательно
              </div>
              <div *ngIf=" userForm.email.invalid && !userForm.email.hasError('required')">
                <div [style.color]="userForm.email.hasError('email')?'red':'black'">
                  Введите email в формате "example@gmail.com"
                </div>
              </div>
            </div>
          </div>
          <mat-radio-group formControlName="userType" class="radioGroup">
            <br>
            <mat-radio-button value="customer"> Пользователь</mat-radio-button>
            <br>
            <mat-radio-button value="partner"> Коммерческий партнёр</mat-radio-button>
            <br>
          </mat-radio-group>
        </form>
        <div>
          <button [disabled]="userRegistrationForm.invalid" mat-button matStepperNext>Далее</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-container *ngIf="userForm.userType.value === 'customer'; else elseTemplate">
          <ng-template matStepLabel>Регистрация данных покупателя</ng-template>
          <form [formGroup]="customerRegistrationForm">
            <div id="firstName">
              <mat-form-field>
                <input matInput type="text" placeholder="Имя" formControlName="firstName" />
              </mat-form-field>
              <div *ngIf="customerForm.firstName.touched && customerForm.firstName.hasError('required')" class="error">
                Это поле обязательно
              </div>
            </div>
            <div id="lastName">
              <mat-form-field>
                <input matInput type="text" placeholder="Фамилия" formControlName="lastName" />
              </mat-form-field>
              <div *ngIf="customerForm.lastName.touched && customerForm.lastName.hasError('required')" class="error">
                Это поле обязательно
              </div>
            </div>
            <div id="birthday">
              <mat-form-field>
                <mat-label>День рождения</mat-label>
                <input matInput [matDatepicker]="myDatepicker" formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>
              <div *ngIf="customerForm.birthday.touched && customerForm.birthday.hasError('required')" class="error">
                Это поле обязательно
              </div>
            </div>
            <div id="gender">
              <mat-form-field>
                <mat-label>Пол</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="Male">Мужской</mat-option>
                  <mat-option value="Female">Женский</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="customerForm.gender.touched && customerForm.gender.hasError('required')" class="error">
                Это поле обязательно
              </div>
            </div>
          </form>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button [disabled]="customerRegistrationForm.invalid" matStepperNext>Далее</button>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <ng-template matStepLabel>Регистрация данных партнёра</ng-template>
          <h3>Информация о Вас</h3>
          <mat-divider></mat-divider>
          <form [formGroup]="partnerRegistrationForm">
            <div id="name">
              <mat-form-field>
                <input matInput type="text" placeholder="Название" formControlName="name" />
              </mat-form-field>
              <div *ngIf="partnerForm.name.touched" class="error">
                <div *ngIf="partnerForm.name.hasError('required')">
                  Это поле обязательно
                </div>
              </div>
            </div>
            <div class="category">
              <div id="categoryField">
                <mat-form-field>
                  <mat-label>Категория</mat-label>
                  <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let category of categories" [value]="category?.id"
                      (click)="onCategorySelected(category?.id)">
                      {{category?.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="partnerForm.categoryId?.touched && partnerForm.categoryId?.hasError('required')"
                  class="error">
                  Это поле обязательно
                </div>
              </div>
              <div id="subcategory">
                <div *ngIf="partnerForm.categoryId?.valid">
                  <mat-form-field>
                    <mat-label>Подкатегория</mat-label>
                    <mat-select formControlName="subcategoryId">
                      <mat-option *ngFor="let category of subcategories" [value]="category?.id">
                        {{category?.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="partnerForm.subcategoryId?.touched && partnerForm.subcategoryId?.hasError('required')"
                    class="error">
                    Это поле обязательно
                  </div>
                </div>
              </div>
            </div>
            <div id="site">
              <mat-form-field>
                <input matInput type="text" placeholder="Сайт" formControlName="site">
              </mat-form-field>
            </div>
            <div id="birthdayDiscount">
              <mat-checkbox #checkbox (change)="birthdayDiscount=!birthdayDiscount">Скидка дня рождения</mat-checkbox>
              <div *ngIf="checkbox.checked">
                <mat-form-field>
                  <input matInput type="number" [max]="100" [min]="0" placeholder="Скидка дня рождения"
                    formControlName="birthdayDiscount">
                </mat-form-field>
              </div>
            </div>
            <div id="description">
              <mat-form-field>
                <textarea matInput placeholder="Описание" formControlName="description"></textarea>
              </mat-form-field>
            </div>
            <br>
            <div class="filialForm">
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <h3>Адрес главного офиса</h3>
              <div class="form" formGroupName="filial">
                <mat-form-field>
                  <input matInput type="text" placeholder="Номер телефона" formControlName="phoneNumber">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Регион" formControlName="region">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Город" formControlName="city">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Улица" formControlName="street">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Номер дома" formControlName="houseNumber">
                </mat-form-field>
              </div>
            </div>
          </form>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button [disabled]="partnerRegistrationForm.invalid" matStepperNext>Далее</button>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Подтверждение регистрации</ng-template>
        <mat-grid-list class="submitContainer" [cols]=2>
          <mat-grid-tile class="submitInfo">
            <mat-list>
              <ng-container *ngIf="userForm.userType.value === 'customer'; else partnerTemplate">
                <mat-list-item>
                  Имя: {{customerForm.firstName.value}}
                </mat-list-item>
                <mat-list-item>
                  Фамилия: {{customerForm.lastName.value}}
                </mat-list-item>
                <mat-list-item>
                  Дата рождения: {{customerForm.birthday.value | date : 'dd.MM.yyyy'}}
                </mat-list-item>
                <mat-list-item>
                  Пол: {{(customerForm.gender.value==='Male')?'Мужской':'Женский'}}
                </mat-list-item>
                <mat-list-item>
                  Email: {{userForm.email.value}}
                </mat-list-item>
              </ng-container>
              <ng-template #partnerTemplate>
                <mat-list-item>
                  Название: {{partnerForm.name.value}}
                </mat-list-item>
                <mat-list-item>
                  Категория: {{category}}
                </mat-list-item>
                <mat-list-item>
                  Подкатегория: {{subcategory}}
                </mat-list-item>
                <div *ngIf="birthdayDiscount">
                  Скидка дня рождения: {{partnerForm.birthdayDiscount.value}}%
                </div>
                <mat-list-item>
                  Адрес:
                  <br>
                  {{filialForm.region?.value}}
                  {{filialForm.city?.value}}
                  {{filialForm.street?.value}}
                  {{filialForm.houseNumber?.value}}
                </mat-list-item>
                <mat-list-item>
                  Email: {{userForm.email.value}}
                </mat-list-item>
              </ng-template>
            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile class="avatar">
            <img src="../../../assets/img/no-avatar.png">
          </mat-grid-tile>
        </mat-grid-list>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button (click)="onRegisterSubmit()">Подтвердить</button>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
