.container{
  width: 80%;
  margin: auto;
}
.mat-card{
  margin-top: 20px;
}
.name{
  padding: 5px;
  font-size: 50px;
  max-width: 500px;
  text-align: start;
 }
 .rectangle{
   margin-left: 500px;
   width: 100px;
   height: 30px;
   justify-content: center;
 }
.mat-card-header{
  padding: 5px;
  display: flex;
  flex-direction: row;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  width: 150px;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height: auto;
  widows: 98%;
}

